@import "./partials/mixins";
@import "./partials/maps";
@import "./partials/colors";
@import "./partials/generales";
@import "./partials/grilla";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/extends";
@import "./partials/buttons";





.body {
    background-image: url(../IMAGEN/luna_signo_zodiacal.jpg_673822677.webp);
    background-size: cover;
    background-repeat: no repeat;
    display: inline-block;
}





@media screen and (max-width: 320px) and (orientation:portrait) {
.contenedor {
    display: grid;
    grid-template-areas: "header",
                            "main",  
                            "footer";
    grid-template-columns: 1fr;
    font-size: 2rem;
    justify-content: baseline;

}
}

@media screen and (max-width: 320px) and (orientation: landscape) {
.contenedor {
    display: grid;
    grid-template-areas: "header",
                            "main",  
                            "footer";
    grid-template-columns: 1fr;
}
}

    







      


.tatoo3 {
    height: 480px;
}

.tatuando {
    
    
    padding: 0;
    margin: 0;
   

}

.imagenes1 :hover {
    height: 600px;
}

.frase :hover {
    font-size: 4rem;
} 




.pie {
    background-color: $color-pie;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    
}

seccion contacto
.bodyc {
    color: white;
    font-size: 2rem;
}
.letraformulario {
    color: white;
    font-size: 2rem;
}
.tex {
    color: white;
    font-size: 2rem;
}


seccion quien soy

.fotolore {
    height: 400px;
}
.presentacion {
    text-align: right;
    font-size: 4rem;
    color: white;
}

seccion tatoo

.tatoo1 {
    height: 300px;
}
seccion microp

.textom {
    color: white;
}

.cuerpo {
    color: white;
    font-size: 1.3rem;
}
.micropig1 {
    height: 300px;
}
.micropig {
    height: 300px;
}

.certif {
    height: 50rem;
}

.conteinerr {
    background-image: url(../IMAGEN/WhatsApp\ Image\ 2022-07-21\ at\ 08.24.25\ \(1\).jpeg);
    background-repeat: no repeat;
    background-size: cover;

}
