@font-face {
  font-family: "hitmo";
  src: url(../FONTS/Hitmo.ttf);
}
* {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: rgb(37, 33, 33);
}

.encabezado {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.toggle {
  background: none;
  background-color: rgb(248, 143, 6);
  border: none;
  padding: 0 20px;
  font-size: 20px;
  display: none;
}

.barraini {
  list-style: none;
  background-color: rgb(248, 143, 6);
  margin-left: 20px;
}
.barraini li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-right: 90px;
  background-color: rgb(248, 143, 6);
}

.titulo {
  font-size: 8rem;
  text-align: center;
  font-family: "hitmo", Courier, monospace;
  color: white;
}

.titulot {
  font-size: 2rem;
  text-align: center;
  font-family: "hitmo", Courier, monospace;
  color: white;
}

.tit {
  height: 10rem;
  width: 30rem;
}

.frase {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  color: white;
}

.pie {
  background-color: rgb(10, 10, 15);
  font-size: 1.2rem;
  color: white;
  text-align: center;
  text-decoration: none;
}

.pietres {
  background-color: rgb(10, 10, 15);
  text-decoration: none;
  background-color: rgb(10, 10, 15);
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.btn {
  border: none;
}

.btn {
  color: rgb(243, 247, 244);
  text-decoration: none;
}
.btn a {
  text-decoration: none;
  color: white;
}

.boton {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
  text-decoration: none;
}

.botonprimario {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
  text-decoration: none;
}

.botonsecundario {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
  .titulo {
    font-size: 3rem;
  }
  .subtitulo {
    font-size: 2rem;
  }
  .frase {
    font-size: 3rem;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin-right: 90px;
    background-color: rgb(248, 143, 6);
  }
  .barraini {
    flex-direction: column;
    list-style: inside;
    display: inline-flex;
    left: 0;
  }
  .main {
    top: 50px;
  }
}
.body {
  background-color: rgb(37, 33, 33);
  background-size: cover;
  background-repeat: no repeat;
  display: inline-block;
}

.tatoo3 {
  height: 480px;
}

.tatuando {
  padding: 0;
  margin: 0;
}

.imagenes1 :hover {
  height: 600px;
}

.frase :hover {
  font-size: 4rem;
}

.pie {
  background-color: rgb(248, 143, 6);
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

seccion contacto .bodyc {
  color: white;
  font-size: 1.2rem;
}

.letraformulario {
  color: white;
  font-size: 1.2rem;
}

.tex {
  color: white;
  font-size: 1.2rem;
}

seccion quien soy .fotolore {
  height: 400px;
}

.presentacion {
  text-align: right;
  font-size: 4rem;
  color: white;
}

seccion tatoo .tatoo1 {
  height: 300px;
}

seccion microp .textom {
  color: white;
}

.cuerpo {
  color: white;
  font-size: 1.3rem;
}

.micropig1 {
  height: 300px;
}

.micropig {
  height: 300px;
}

.certif {
  height: 50rem;
}

.conteinerr {
  background-image: url(../IMAGEN/Fondo1.jpeg);
  background-repeat: no repeat;
  background-size: cover;
}/*# sourceMappingURL=styles.css.map */