@font-face {
  font-family: "hitmo";
  src: url(../FONTS/Hitmo.ttf);
}
* {
  margin: 0;
  padding: 0;
}

.contenedor {
  display: grid;
  grid-template-areas: "header", "main", "footer";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 500px 20px;
  background-image: url(../IMAGEN/luna_signo_zodiacal.jpg_673822677.webp);
  background-size: cover;
  background-repeat: no repeat;
  display: inline-block;
}

.header {
  grid-area: header;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main {
  grid-area: main;
}

.pie {
  grid-area: footer;
}

.encabezado {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.barraini {
  list-style: none;
  margin-left: 20px;
}
.barraini li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-right: 90px;
}

.titulo {
  font-size: 8rem;
  text-align: center;
  font-family: "hitmo", Courier, monospace;
  color: white;
}

.titulot {
  font-size: 2rem;
  text-align: right;
  font-family: "hitmo", Courier, monospace;
  color: white;
}

.tit {
  height: 10rem;
  width: 30rem;
}

.frase {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  color: white;
}

.pie {
  background-color: rgb(61, 61, 178);
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.pietres {
  background-color: rgb(11, 4, 4);
}

.btn {
  border: none;
}

.btn {
  background-color: rgb(136, 133, 133);
  color: rgb(253, 248, 248);
}

.boton {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
}

.botonprimario {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
}

.botonsecundario {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  background-color: rgb(136, 133, 133);
  border: none;
}

.body {
  background-image: url(../IMAGEN/luna_signo_zodiacal.jpg_673822677.webp);
  background-size: cover;
  background-repeat: no repeat;
  display: inline-block;
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .contenedor {
    display: grid;
    grid-template-areas: "header", "main", "footer";
    grid-template-columns: 1fr;
    font-size: 2rem;
    justify-content: baseline;
  }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
  .contenedor {
    display: grid;
    grid-template-areas: "header", "main", "footer";
    grid-template-columns: 1fr;
  }
}
.tatoo3 {
  height: 480px;
}

.tatuando {
  padding: 0;
  margin: 0;
}

.imagenes1 :hover {
  height: 600px;
}

.frase :hover {
  font-size: 4rem;
}

.pie {
  background-color: rgb(61, 61, 178);
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

seccion contacto .bodyc {
  color: white;
  font-size: 2rem;
}

.letraformulario {
  color: white;
  font-size: 2rem;
}

.tex {
  color: white;
  font-size: 2rem;
}

seccion quien soy .fotolore {
  height: 400px;
}

.presentacion {
  text-align: right;
  font-size: 4rem;
  color: white;
}

seccion tatoo .tatoo1 {
  height: 300px;
}

seccion microp .textom {
  color: white;
}

.cuerpo {
  color: white;
  font-size: 1.3rem;
}

.micropig1 {
  height: 300px;
}

.micropig {
  height: 300px;
}

.certif {
  height: 50rem;
}

.conteinerr {
  background-image: url(../IMAGEN/WhatsApp\ Image\ 2022-07-21\ at\ 08.24.25\ \(1\).jpeg);
  background-repeat: no repeat;
  background-size: cover;
}/*# sourceMappingURL=styles.css.map */