.btn {
    @extend %botonbase;
    
    color: $colorbotones;
    text-decoration: none;
    
    a {
        text-decoration: none;
        color: $color-letra;
    }
}

.boton {
    @include botones(red, $bgcolor:  rgb(136, 133, 133));
}

.botonprimario {
    @include botones(red, $bgcolor:  rgb(136, 133, 133));
}

.botonsecundario {
    @include botones(red, $bgcolor:  rgb(136, 133, 133));
}