.pie {
    background-color: rgb(61, 61, 178);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    
    
  }

.pietres {
    background-color: map-get($estilos, colorPrimario);
    
}