.pie {
    background-color: rgb(10, 10, 15);
    font-size: 1.2rem;
    color: $color-letra;
    text-align: center;
    text-decoration: none;
    
    
  }

.pietres {
    background-color: rgb(10, 10, 15);
    text-decoration: none;
    background-color: rgb(10, 10, 15);
    font-size: 1.2rem;
    color: $color-letra;
    text-align: center;
    
      
}